@model PathfinderHomebrew.Models.SpellLikeAbility

    <div class="row" id="RowView">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FreqType"></label>
                @Html.DropDownList("FreqType", new SelectList(Enum.GetValues(typeof(FreqType))), new { @class = "form-control" })
                <span asp-validation-for="FreqType"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Frequancy"></label>
                <input asp-for="Frequancy" class="form-control" />
                <span asp-validation-for="Frequancy" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <input class="btn btn-dark" type="button" id="btnRemove" value="Remove Product" />
        </div>
        <br />
    </div>