<div>
    <h2 class="bg-danger mb-1 p-2 text-white">
        Access Denied
    </h2>
    <p class="text-danger">
        You are not authorized to access this function, please try again with a account with a higer role.
    </p>
    <span><a asp-action="Index" asp-controller="Home" class="btn btn-sidebar ml-auto">OK</a></span>
</div>
